This notebook allows us to split names and add customized domains or email domain

In [2]:
# Importing Required Libraries
import pandas as pd

In [4]:
df = pd.read_csv("Book1.csv")
df

                      Name
0            Tonny Simbaya
1           Eskaya Malenji
2        Nchimunya Mweetwa
3          Katongo Katongo
4           Malvin Sheleni
..                     ...
56      Bernadette Chikasa
57           Freddie Yamba
58  Moreblessings Chilombo
59           ZIMASA DWETYE
60         FRANCIS CHIBUYE

[61 rows x 1 columns]

In [7]:
# Step 4: Separate full name into first name and last name
# df[['First Name', 'Last Name']] = df['Name'].str.split(expand=True)

In [8]:
# Step 4: Separate full name into first name and last name
names_split = df['Name'].str.split(expand=True)

In [9]:
# Check if the split resulted in two columns
if len(names_split.columns) == 2:
    df[['First Name', 'Last Name']] = names_split
else:
    # Handle rows with missing or irregular data (replace with empty strings)
    df['First Name'] = names_split[0]
    df['Last Name'] = names_split[1].fillna('')

In [10]:
# Step 5: Drop the original "Full Name" column (optional)
df.drop(columns=['Name'], inplace=True)

In [11]:
# Step 6: Save the DataFrame back to a .csv file (optional)
df.to_csv('modified_data.csv', index=False)

In [12]:
# Optional: Display the DataFrame
print(df)

       First Name Last Name
0           Tonny   Simbaya
1          Eskaya   Malenji
2       Nchimunya   Mweetwa
3         Katongo   Katongo
4          Malvin   Sheleni
..            ...       ...
56     Bernadette   Chikasa
57        Freddie     Yamba
58  Moreblessings  Chilombo
59         ZIMASA    DWETYE
60        FRANCIS   CHIBUYE

[61 rows x 2 columns]

In [17]:
def format_name(row):
    first_name = row["First Name"].replace(" ", ".")
    last_name = row["Last Name"].replace(" ", ".")
    return f"{first_name}.{last_name}@idc.co.zm".lower()

df["Email"] = df.apply(format_name, axis=1)

In [20]:
# Dropping a column name
df = df.drop(columns=['Formatted Name'])

In [22]:
# Step 6: Save the DataFrame back to a .csv file (optional)
df.to_csv('modified_data.csv', index=False)

In [23]:
df

       First Name Last Name                             Email
0           Tonny   Simbaya           tonny.simbaya@idc.co.zm
1          Eskaya   Malenji          eskaya.malenji@idc.co.zm
2       Nchimunya   Mweetwa       nchimunya.mweetwa@idc.co.zm
3         Katongo   Katongo         katongo.katongo@idc.co.zm
4          Malvin   Sheleni          malvin.sheleni@idc.co.zm
..            ...       ...                               ...
56     Bernadette   Chikasa      bernadette.chikasa@idc.co.zm
57        Freddie     Yamba           freddie.yamba@idc.co.zm
58  Moreblessings  Chilombo  moreblessings.chilombo@idc.co.zm
59         ZIMASA    DWETYE           zimasa.dwetye@idc.co.zm
60        FRANCIS   CHIBUYE         francis.chibuye@idc.co.zm

[61 rows x 3 columns]